[submodule "koi-grammar"]
	path = koi-grammar
	url = https://github.com/koi-lang/koi-grammar
[submodule "examples"]
	path = examples
	url = https://github.com/koi-lang/examples
[submodule "libs/core"]
	path = libs/core
	url = https://github.com/koi-lang/soy-core
[submodule "libs/std"]
	path = libs/std
	url = https://github.com/koi-lang/aa-batteries
